/* You can add global styles to this file, and also import other style files */
.container {
    padding: 20px;
    min-height: calc(100vh - 56px);
}

.section {
    border: solid 1px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

app-header {
  position: sticky;
  top: 0;
  z-index: 9999;
}

app-footer {
  position: sticky;
  bottom: 0;
  z-index: 9999;
}
